
    <h1>Home</h1>
   
<%= render 'layouts/stylesheets' %>
 
<div class="randomcontent group1" style="display: block;">
<table width="800" border="1">
  <tr>
    <td><img src="assets/attractions-thumb-elephantsofasia.png"></td>
    <td><img src="assets/hightlights-thumb-jungle-breakfast.png"></td>
    <td width="20">&nbsp;</td>
    <td  bgcolor="#EAEAEA" width="300" rowspan="6"><h2>Current Surveys</h2>There are a number of ways in which you can get involved recording, monitoring and contributing biological data to the Record Centre.<p><h2>Enquiry Service</h2>Are you looking for biodiversity information?<br>Are you making a planning application (or decision) and need a biodiversity report on the site?</td>
  </tr>
  <tr>
    <td><h2>Welcome</h2></td>
    <td><h2>Vision</h2></td>
   <td width="20">&nbsp;</td>    
  </tr>
  <tr>
    <td valign="top">Welcome to the website of the Surrey Biodiversity Information Centre, one of many local record centres around the UK</td>
    <td valign="top">Our vision is for a living landscape in Surrey that is rich in wildlife and valued by all</td>
    <td width="20">&nbsp;</td>
   
  </tr>
<tr>
     <td><img src="assets/show-thumb-elephants.png"></td>
    <td><img src="assets/show-thumb-elephants.png"></td>
    <td width="20">&nbsp;</td>
  </tr>
  <tr>

    <td><h2>Volunteering</h2></td>
   <td><h2>Contact Us</h2></td>
   <td width="20">&nbsp;</td>
  </tr>
  <tr>
 
    <td valign="top">Beat the winter blues by volunteering outside<br><br><img src="assets/btn-readmore.png"></td>
    <td valign="top">Consultancy etc etc<br><br><a href="/contact"><img src="assets/btn-readmore.png"></a></td>
    <td width="20">&nbsp;</td>
  </tr>

</table>
</div>

