<h1>News</h1>

 


<div class="randomcontent group1" style="display: block;">
<table width="800">
  <tr>
    <td><hr><h2>Thursley, Elstead, Ockley, Royal & Bagmoor Commons Public Consultation</h2><em style="font: 10.0px Arial; font-style:italic">9 January 2012</em></td>
    <td width="20">&nbsp;</td>
    <td  bgcolor="#EAEAEA" width="150" rowspan="6" valign="top"><h2>News Archive</h2><a href="/news">Latest News</a>
<br>
<br>
July 2011
<br>
August 2011
<br>
September 2011
<br>
October 2011
<br>
November 2011
<br>
December 2011
<br>
January 2012
<br>
<br>
<a href="/news/archive">View Entire Archive</a></td>
  </tr>
  <tr>
    <td><img src="assets/large_bagmoor.JPG"></td>
    <td width="20">&nbsp;</td>    
  </tr>
  <tr>
    <td valign="top"><p style="margin: 0.0px 0.0px 10.0px 0.0px; font: 12.0px Arial">
Surrey Wildlife Trust (SWT), in partnership with the Ministry of Defence/Defence Estates (MoD/DE) and Natural England (NE), is undertaking a major review of the management of Thursley, Ockley, Elstead, Royal and Bagmoor Commons, and has embarked on a consultation process to seek the views of members of the public, local communities, organisations, stakeholders and visitors to understand how they use, experience and value the Commons, in order to help decide how they should be managed for wildlife and people.<br><br>

The Commons are internationally important for their wildlife and are amongst the finest remaining examples of lowland heath in southern England; a globally rare and threatened habitat. Between them, the Commons are designated as a RAMSAR site (i.e. wetlands of international importance), a European Special Protection Area (SPA), a Special Area for Conservation (SAC), a National Nature Reserve (NNR) and as a Site of Special Scientific Interest (SSSI). <br>
<hr>
</td>
    <td width="20">&nbsp;</td>
   
  </tr>
<tr>
     <td><h2>Scientists to investigate human benefits of birdsong</h2><em style="font: 10.0px Arial; font-style:italic">22 December 2011</em></td>
    <td width="20">&nbsp;</td>
  </tr>
  <tr>
    <td><img src="assets/singing_robin.jpg"></td>
   <td width="20">&nbsp;</td>
  </tr>
  <tr> 
    <td valign="top"><p style="margin: 0.0px 0.0px 10.0px 0.0px; font: 12.0px Arial">
A new three year research project that will look into the impact of birdsong on our brain and behaviour is being launched today by the University of Surrey in partnership with the National Trust and Surrey Wildlife Trust.<br><br>

The project will explore the psychological impact of being exposed to the sound of birdsong, including its effects on our mood, attention and levels of creativity.  <br><br></td>
    <td width="20">&nbsp;</td>
  </tr>

</table>
</div>




