<h1>Services</h1>

  <div style="background-color:#FFFFFF;border:5px solid #99CC99;padding:10px;">
<h2>Surrey Wildlife Atlas Series</h2>
    <p>
      We publish an ongoing series of Surrey Wildlife Atlases, the latest of which is ‘Wasps of Surrey’ by David Baldock. Previous titles have included Butterflies (1995, now sold out), Dragonflies (1996), Larger Moths (1997), Hoverflies (1998), Grasshoppers & Crickets (1999), Ladybirds (2000), Amphibians & Reptiles (2001), Shieldbugs (2003), Ants (2005), Water Bugs and Water Beetles (2007) and Bees (2008). In 2005 we also launched a series of County Checklists, the first of which covered Beetles. Atlases can be purchased from the Surrey Wildlife Trust web shop at http://www.surreywildlifegifts.org.uk/collections/atlas-series
    </p>





	<p>For more information, please contact:</p>
	<table border="0" style="width:400px;text-align:left;margin:auto;">
		<tbody><tr>
			<td colspan="2"><b>Alistair Kirk,<br>SBIC Manager</b></td>
		</tr>
		<tr>
			<td><img style="height:20px;" src="/images/icons/letter.gif?1298474547" alt="Letter"></td><td>Surrey Biodiversity Information Centre, c/o Surrey Wildlife Trust, School Lane, Pirbright, Woking, Surrey, GU24 0JN</td>
		</tr>
		<tr>
			<td><img style="height:20px;" src="/images/icons/telephone.gif?1298474545" alt="Telephone"></td><td>01483 795448</td>
		</tr>
		<tr>
			<td><img style="height:20px;" src="/images/icons/email.gif?1298474546" alt="Email"></td><td><a href="mailto:alistair.kirk@surreywt.org.uk">alistair.kirk@surreywt.org.uk</a></td>
		</tr>
	</tbody></table>
	<p>Please send data search enquiries and wildlife sightings to:</p>
	
	<table border="0" style="width:400px;text-align:left;margin:auto;">
		<tbody><tr>
			<td colspan="2"><b>Catherine Burton,<br>Biological Records Officer</b></td>
		</tr>
		<tr>
			<td><img style="height:20px;" src="/images/icons/letter.gif?1298474547" alt="Letter"></td><td>Surrey Biodiversity Information Centre, c/o Surrey Wildlife Trust, School Lane, Pirbright, Woking, Surrey, GU24 0JN</td>
		</tr>
		<tr>
			<td><img style="height:20px;" src="/images/icons/telephone.gif?1298474545" alt="Telephone"></td><td>01483 795448</td>
		</tr>
		<tr>
			<td><img style="height:20px;" src="/images/icons/email.gif?1298474546" alt="Email"></td><td><a href="mailto:catherine.burton@surreywt.org.uk">catherine.burton@surreywt.org.uk</a></td>
		</tr>
	</tbody></table>
</div>
