<h1>Submit Sightings</h1>
<div style="background-color:#FFFFFF;border:5px solid #99CC99;padding:10px;">
<h2>Wildlife Sightings / Biological Records</h2>
	<p>If you have any wildlife sightings that you would like to report to please do not hesitate to contact us (details below). All reports are very gratefully received.</p>


<p>Please send data search enquiries and wildlife sightings to:</p>
	
	<table border="0" style="width:400px;text-align:left;margin:auto;">
		<tbody><tr>
			<td colspan="2"><b>Catherine Burton,<br>Biological Records Officer</b></td>
		</tr>
		<tr>
			<td><img style="height:20px;" src="/images/icons/letter.gif?1298474547" alt="Letter"></td><td>Surrey Biodiversity Information Centre, c/o Surrey Wildlife Trust, School Lane, Pirbright, Woking, Surrey, GU24 0JN</td>
		</tr>
		<tr>
			<td><img style="height:20px;" src="/images/icons/telephone.gif?1298474545" alt="Telephone"></td><td>01483 795448</td>
		</tr>
		<tr>
			<td><img style="height:20px;" src="/images/icons/email.gif?1298474546" alt="Email"></td><td><a href="mailto:catherine.burton@surreywt.org.uk">catherine.burton@surreywt.org.uk</a></td>
		</tr>
	</tbody></table>

</div>
