<h1>All Species</h1>
<table width="200" border="1" cellspacing="0" cellpadding="0">
  <tr>
    <td>Number</td>
    <td>Name</td>
    <td>Location</td>
    <td>Sex/Stage</td>
    <td>County</td>
    <td>Comment</td>
     <td>Created at</td>
 <td></td>
  </tr>

<%= will_paginate %>

<ul class="users">
  <%= render @animals %>
</ul>

<%= will_paginate %>

</table>
